[submodule "src/--force"]
	path = src/--force
	url = https://github.com/ros-perception/openslam_gmapping
[submodule "src/openslam_gmapping"]
	path = src/openslam_gmapping
	url = https://github.com/ros-perception/openslam_gmapping
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
[submodule "src/random_numbers"]
	path = src/random_numbers
	url = https://github.com/ros-planning/random_numbers
[submodule "src/rosaria"]
	path = src/rosaria
	url = https://github.com/amor-ros-pkg/rosaria
[submodule "src/opencv_apps"]
	path = src/opencv_apps
	url = https://github.com/ros-perception/opencv_apps
[submodule "src/image_pipeline"]
	path = src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline
